*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    background-color: #000000;
}
*::-webkit-scrollbar-thumb{
    background-color: #ffffff2b;
}
.y-body {
    background-color: rgb(0, 0, 0);

}

.y-header__logo {
    color: #6eb1fe; 
    font-weight: 700;
    font-size: 30px;
}
/* .y-header__logo {
    text-shadow: 
    2px 2px 0 #d30308, 
    -2px 2px 0 #d30308, 
    2px -2px 0 #d30308, 
    -2px -2px 0 #d30308;

    font-weight: 700;
    font-size: 30px;
} */
.y-header {
    position: fixed;
    margin: 0 auto;
    z-index: 3;
    /* border: 1px solid #d12929; */
    width: 100%;
}
.y-header__cont {
    font-family: "Tiny5", sans-serif;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    /* background: linear-gradient(to bottom, #000000, #00000000); */
    padding: 0 10px;
    max-width: 1200px;
    height: 65px;
}
.y-menu {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}
.y-link {
    font-size: 20px;
    position: relative;
    color: #ffa968;
    cursor: pointer;
    /* margin-left: 55px; */
    transition: 0.2s;
    margin-right: 50px;
}
a {
    text-decoration: none;
}

.y-main {
    margin: 0 auto;
    padding-top: 70px;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 0px 20px;
}
.y-color1 {
    transition: 0.3s;
}
.y-color2 {
    transition: 0.3s;
}
.y-main__image-chap1 {
    max-width: 100%;
}
.y-main__image-chap2 {
    width: 100%;
}
.main__container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}




.slider {
    width: 100%;
    display: flex;
    transition: 0.5s;
}
.slider__slide {
    width: 100%;
    flex: 0 0 100%;
    transition: 0.5s;
}
.slider__slide-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slider-menu {
    position: relative;
/*     top: -185px;
    width: 100%; */
    margin-top: 10px;
}
.slider-menu__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-top: 5px solid #ffa968;
    max-width: 500px;
    height: 50px;
    cursor: pointer;
}
.footer {
}
.slider-menu__nav-link {
    font-size: 20px;
    font-family: "Tiny5", sans-serif;
    color: aliceblue;
}






.y-main__boxs {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Tiny5", sans-serif;
    border-radius: 10px;
    margin-top: 60px;
    max-width: 1200px;

    /* border: 1px solid #633535; */
    background-color: rgb(0, 0, 0);
}
.y-box__stiker {
    height: 100px;
    width: 100px;
}
.y-main__text {
    font-size: 23px;
}
.y-main__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 430px;
    background-color: #1b1b1b;
    border: 5px solid #6eb1fe;
/*     border: 1px solid #dd0101; */
}
.y-main__box-inside {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.y-about__text {
    font-size: 15px;
    width: 200px;
    text-align: center;
    color: #6d6d6d;
    line-height: 25px;
}




.y-about__cont {
    display: flex;
    align-items: center;
    /* border: 1px solid #0c5ec3; */
    width: 1200px;
    height: 300px;
    background-image: url(/img/clesteAbout1.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position-x: 520px;
    background-position-y: -90px;
}

.y-about__image {
    position: relative;
    width: 500px;
    /* border: 1px solid #42a168; */
}
.y-about__gradient {
    width: 300px;
    height: 300px;
/*     border: 2px solid #991770; */
    background: linear-gradient(to right, #000000 5%, #00000000);
}


.y-main__download {
    display: flex;
    font-family: "Tiny5", sans-serif;
    color: #ffffff;
    /* border: 1px solid #c30d0d; */
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 5px;
}

.y-download__image {
    z-index: 1;
    margin-left: 4px;
    padding: 10px;
    /* border: 4px solid #ffa968; */
    width: 650px;
}
.y-download__image:nth-child(2) {
    z-index: 0;
    position: absolute;
    filter: blur(20px);
    width: 650px;
}
.y-download__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #1225d6; */
    padding: 10px;
    margin-left: 60px;
}
.y-download__logo {
    background-image: url(/img/celesteLogo2.png);
    background-size: 360px;
    background-position-y: 20px;
    background-position-x: 30px;
    background-repeat: no-repeat;
    height: 140px;
}
.y-download__about {
}
.y-download__rate {
    color: #838383;
}
.y-rate {
}
.y-download__span {
    margin-left: 20px;
    color: #6eb1fe;
}
.y-download__dev {
    color: #838383;
}
.y-dev {
}
.y-download__categorys {
    color: #838383;
    display: flex;
}
.y-category {
    margin-right: 20px;
}


.y-main__about {
    
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding-top: 0px;
    color: #ffffff;
    font-family: "Tiny5", sans-serif;
    padding-bottom: 100px;
    padding-top: 100px;
}

.y-about__about {
    font-size: 50px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ffa968;
}
.y-about__start {
    color: #b6b6b6;
    text-align: start;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.y-about__end {
    color: #b6b6b6;
    text-align: start;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-bottom: 5px solid #ffa968;
}

.y-about__middle {
    color: #b6b6b6;
    text-align: start;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.y-celesteCut {
    width: 750px;
    height: 200px;
    margin: auto;
    background-image: url(/img/celesteGameCut1.jpg);
    background-position: 900px 200px;
    background-size: 900px;
}




.y-main__news {
    /* border: 1px solid #a21010; */
    margin: auto;
    font-family: "Tiny5", sans-serif;
    color: #ffffff;
}
.y-news__hh {
    text-align: center;
    font-size: 70px;
}
.y-news__pp {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    color: #ffa968;
}
.y-news-box {
    flex-wrap: wrap;
    display: flex;
}
.y-news {
    background-image: url(https://3.bp.blogspot.com/-OP-uhfGYg8g/XAgUcqHT3zI/AAAAAAAAFEU/XKedKcvHtUcQ6KHV3cTeA3vG_Lt0_P94ACLcBGAs/w1200-h630-p-k-no-nu/celeste.jpg);
    background-size: 500px;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;


    width: 250px;
    height: 255px;
    border-bottom: 5px solid #1b1b1b;
    margin-right: 50px;
    margin-bottom: 70px;
}
.y-news:hover{
    transition: 0.2s;
    background-size: 520px;
}
.y-news:nth-child(2) {
    background-position-x: -100px;
    background-image: url(https://cdn1.epicgames.com/b671fbc7be424e888c9346a9a6d3d9db/offer/Celeste%20-%20landscape%20offer%20image-2560x1440-0b9b94fd493d817704ecfdf4c704989a.jpg);
}
.y-news:nth-child(3) {
    background-position-x: 0px;
    background-position-y: -30px;
    background-image: url(https://wallpapercave.com/wp/wp4162304.jpg);
}
.y-news:nth-child(4) {
    background-position-x: -100px;
    background-position-y: 300px;
    background-image: url(https://i.pinimg.com/originals/91/fb/54/91fb54881f5e059bc1e7bd1c41a5aeb9.png);
}
.y-news:nth-child(5) {
    background-position-x: -50px;
    background-image: url(https://wallpapercave.com/wp/wp4162278.jpg);
}
.y-news:nth-child(6) {
    background-position-x: -100px;
    background-image: url(https://images.gamebanana.com/img/ss/mods/62ef81482c6f4.jpg);
}
.y-news:nth-child(7) {
    background-position-x: -100px;
    background-image: url(https://3.bp.blogspot.com/-OP-uhfGYg8g/XAgUcqHT3zI/AAAAAAAAFEU/XKedKcvHtUcQ6KHV3cTeA3vG_Lt0_P94ACLcBGAs/w1200-h630-p-k-no-nu/celeste.jpg);
}
.y-news:nth-child(8) {
    background-position-x: -100px;
    background-position-y: 450px;
    background-image: url(https://preview.redd.it/strawberry-jam-collab-the-biggest-celeste-mod-ever-has-now-v0-beot5v4gfsia1.png?width=640&crop=smart&auto=webp&s=52991ad8bda6d47940190123b5d227c19126f6ab);
}
.y-news__inside {
    display: flex;
    flex-direction: column;
    height: 110px;
    padding: 20px;
    background-color: #000000bb;
}
.y-typeOfNews {
    align-self: flex-start;
    position: relative;
    color: #000000;
    padding: 5px;
    background-color: #ffffff;
}
.y-textOfNews {
    margin-top: 5px;
    font-size: 19px;
}




.y-main__buy-block {
    /* border: 1px solid #4022d6; */
    font-family: "Tiny5", sans-serif;
    color: #ffffff;
}
.y-main__buy {
    /* border: 1px solid #943b3b; */
    margin: auto;
    display: flex;
}
.y-buy__button {
    font-size: 20px;
    border-top: 8px solid #ffbe90;
    border-bottom: 8px solid #a56e4a;
    background-color: #ffa968;
    margin-right: 25px;
    padding: 20px;
}
.y-buy__line {
    border-left: 5px solid #6d6d6d;
    margin-right: 25px;
}
.y-buy__button:hover {
    cursor: pointer;
   /*  background-color: #e69966; */
    filter: brightness(0.9);
}
.y-demo__button {
    font-size: 20px;
    border-top: 8px solid #9dc4f1;
    border-bottom: 8px solid #578ac5;
    background-color: #6eb1fe;

    padding: 20px;
}
a {
    color: #ffffff;
}

.y-demo__button:hover {
    cursor: pointer;
   /*  background-color: #e69966; */
    filter: brightness(0.9);
}

@media (max-width: 1199px) {
    .y-main__box {
        width: 300px;
        height: 380px;
    }




    .y-main__download {
        display: flex;
        flex-direction: column;
        font-family: "Tiny5", sans-serif;
        align-items: center;
        color: #ffffff;
        /* border: 1px solid #c30d0d; */
        margin-top: 0px;
        margin-bottom: 100px;
        padding: 5px;
    }
    .y-download__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid #1225d6; */
        max-width: 500px;
        height: 330px;
        padding: 10px;
        margin-left: 60px;
    }
    .y-download__image {
        z-index: 1;
        margin-left: 4px;
        padding: 10px;
        /* border: 4px solid #ffa968; */
        width: 650px;
        margin-bottom: 30px;
    }
    .y-download__image:nth-child(2) {
        z-index: 0;
        position: absolute;
        filter: blur(20px);
        width: 650px;
    }
}
@media (max-width: 991px) {
    .slider-menu__nav {
        max-width: 450px;
    }




    .y-main__box {
        width: 250px;
        height: 320px;
    }



    .y-main__about {
        max-width: 700px;
    }
    .y-about__about {
        font-size: 40px;
        padding-bottom: 20px;
    }
    .y-about__start {
        font-size: 17px;
    }
    .y-about__middle {
        font-size: 17px;
    }
    .y-about__end {
        font-size: 17px;
    }
    
}
@media (max-width: 767px) {
    .y-link:nth-child(4) {
        display: none;
    }
    .y-link:nth-child(5) {
        display: none;
    }




    .slider-menu__nav {
        max-width: 400px;
    }
    .slider-menu__nav-link {
        font-size: 17px;
    }



    .y-main__box {
        width: 200px;
        height: 250px;
    }
    .y-about__text {
        font-size: 13px;
        text-align: center;
        color: #6d6d6d;
        line-height: 25px;
    }
    .y-main__text {
        font-size: 16px;
    }
    .y-box__stiker {
        width: 90px;
        height: 90px;
    }
/*     .y-main__boxs {
        align-items: center;
        flex-direction: column;
    } */


    .y-main__about {
        max-width: 570px;
    }
    .y-about__about {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .y-about__start {
        font-size: 15px;
    }
    .y-about__middle {
        font-size: 15px;
    }
    .y-about__end {
        font-size: 15px;
    }
    


    .y-download__image {
        width: 500px;
    }
    .y-download__image:nth-child(2) {
        width: 500px;
    }
}



@media (max-width: 575px) {
    .y-link {
        font-size: 15px;
        margin-right: 20px;
    }



    
    .slider-menu__nav {
        max-width: 340px;
    }
    .slider-menu__nav-link {
        font-size: 15px;
    }


    .y-main__box {
        width: 200px;
        height: 250px;
    }
    .y-main__box:nth-child(3) {
        display: none;
    }
    .y-main__box:nth-child(2) {
        margin-left: 25px;
    }
    .y-main__box:nth-child(1) {
        margin-right: 25px;
    }
    .y-main__boxs {
        display: flex;
        justify-content: center;
    } 


    .y-main__about {
        max-width: 450px;
    }
    .y-about__about {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .y-about__start {
        font-size: 12px;
    }
    .y-about__middle {
        font-size: 12px;
    }
    .y-about__end {
        font-size: 12px;
    }



    .y-download__image {
        width: 400px;
    }
    .y-download__image:nth-child(2) {
        width: 400px;
    }
    .y-category, .y-dev, .y-rate {
        font-size: 14px;
    }
}










